USE [master]
GO
/****** Objeto: Database [InventoryDb] Fecha de script: 16/08/2026 17:19:10 ******/
CREATE DATABASE [InventoryDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InventoryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\InventoryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDb]
GO
/****** Objeto: Schema [products] Fecha de script: 16/08/2026 17:19:11 ******/
CREATE SCHEMA [products]
GO
/****** Objeto: Schema [transactions] Fecha de script: 16/08/2026 17:19:11 ******/
CREATE SCHEMA [transactions]
GO
/****** Objeto: Table [dbo].[__EFMigrationsHistory] Fecha de script: 16/08/2026 17:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [products].[Producto] Fecha de script: 16/08/2026 17:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [products].[Producto](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[UrlImagen] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [transactions].[Transaccion] Fecha de script: 16/08/2026 17:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [transactions].[Transaccion](
	[Id] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[ProductoId] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[PrecioTotal] [decimal](18, 2) NOT NULL,
	[Detalle] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260816001359_InitialCreate', N'10.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260816063548_InitialCreate', N'10.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260816063956_AgregarIndicesTransaccion', N'10.0.11')
GO
INSERT [products].[Producto] ([Id], [Nombre], [Descripcion], [Categoria], [Precio], [Stock], [Activo], [UrlImagen], [FechaCreacion], [FechaModificacion]) VALUES (N'11111111-1111-1111-1111-111111111111', N'Coca-Cola 500ml', N'Gaseosa personal en botella de 500 ml', N'Bebidas', CAST(1.25 AS Decimal(18, 2)), 100, 1, NULL, CAST(N'2026-08-01T08:00:00.0000000' AS DateTime2), NULL)
INSERT [products].[Producto] ([Id], [Nombre], [Descripcion], [Categoria], [Precio], [Stock], [Activo], [UrlImagen], [FechaCreacion], [FechaModificacion]) VALUES (N'22222222-2222-2222-2222-222222222222', N'Agua Mineral 1L', N'Agua mineral sin gas, botella de 1 litro', N'Bebidas', CAST(0.75 AS Decimal(18, 2)), 250, 1, NULL, CAST(N'2026-08-01T08:00:00.0000000' AS DateTime2), NULL)
INSERT [products].[Producto] ([Id], [Nombre], [Descripcion], [Categoria], [Precio], [Stock], [Activo], [UrlImagen], [FechaCreacion], [FechaModificacion]) VALUES (N'33333333-3333-3333-3333-333333333333', N'Arroz Integral 1kg', N'Arroz integral de grano largo, bolsa de 1 kg', N'Abarrotes', CAST(2.40 AS Decimal(18, 2)), 55, 1, NULL, CAST(N'2026-08-01T08:00:00.0000000' AS DateTime2), NULL)
GO
INSERT [transactions].[Transaccion] ([Id], [Fecha], [Tipo], [ProductoId], [Cantidad], [PrecioUnitario], [PrecioTotal], [Detalle], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (N'd1000001-0000-0000-0000-000000000001', CAST(N'2026-08-01T09:00:00.0000000' AS DateTime2), 1, N'11111111-1111-1111-1111-111111111111', 120, CAST(0.90 AS Decimal(18, 2)), CAST(108.00 AS Decimal(18, 2)), N'Compra inicial a proveedor', 1, CAST(N'2026-08-01T09:00:00.0000000' AS DateTime2), NULL)
INSERT [transactions].[Transaccion] ([Id], [Fecha], [Tipo], [ProductoId], [Cantidad], [PrecioUnitario], [PrecioTotal], [Detalle], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (N'd1000002-0000-0000-0000-000000000002', CAST(N'2026-08-05T11:30:00.0000000' AS DateTime2), 2, N'11111111-1111-1111-1111-111111111111', 20, CAST(1.25 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), N'Venta mostrador', 1, CAST(N'2026-08-05T11:30:00.0000000' AS DateTime2), NULL)
INSERT [transactions].[Transaccion] ([Id], [Fecha], [Tipo], [ProductoId], [Cantidad], [PrecioUnitario], [PrecioTotal], [Detalle], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (N'd1000003-0000-0000-0000-000000000003', CAST(N'2026-08-01T09:15:00.0000000' AS DateTime2), 1, N'22222222-2222-2222-2222-222222222222', 300, CAST(0.50 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), N'Compra inicial a proveedor', 1, CAST(N'2026-08-01T09:15:00.0000000' AS DateTime2), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Producto_Categoria] Fecha de script: 16/08/2026 17:19:12 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_Categoria] ON [products].[Producto]
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Producto_Nombre] Fecha de script: 16/08/2026 17:19:12 ******/
CREATE NONCLUSTERED INDEX [IX_Producto_Nombre] ON [products].[Producto]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Transaccion_Fecha] Fecha de script: 16/08/2026 17:19:12 ******/
CREATE NONCLUSTERED INDEX [IX_Transaccion_Fecha] ON [transactions].[Transaccion]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Transaccion_ProductoId] Fecha de script: 16/08/2026 17:19:12 ******/
CREATE NONCLUSTERED INDEX [IX_Transaccion_ProductoId] ON [transactions].[Transaccion]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Transaccion_Tipo] Fecha de script: 16/08/2026 17:19:12 ******/
CREATE NONCLUSTERED INDEX [IX_Transaccion_Tipo] ON [transactions].[Transaccion]
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
